<h1>List Users</h1>

<div>
  {{#each users}}
  <div>Name: {{this.name}} <a href='users/{{this._id}}/venues'>fav. venues</a></div>
  <div>Age: {{this.age}}</div>
  <div>City: {{this.city}}</div>
  <div>Team: {{this.team}}</div>

<div><a href='/users/new'>Add</a></div>

<form action='/users/{{user._id}}' method='POST'>
    <input type='submit' value='Edit User'>
  
</form>

<form action='/users/{{this._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete User'>
</form>

  {{/each}}
</div>
