<h1>List Users</h1>

<div>
  {{#each users}}
  <div>Name: {{this.name}} <a href='/venues/{{this._id}}'>fav. venues</a></div>
  <div>Age: {{this.age}}</div>
  <div>City: {{this.city}}</div>
  <div>Team: {{this.team}}</div>
  <div><a href='/users/new'>( new )</a></div>

  {{/each}}
</div>
