<h1>New User</h1>

<div>Name: {{user.name}}</div>
<div>Age: {{user.age}}</div>
<div>City: {{user.city}}</div>
<div>Team: {{user.team}}</div>

<form action='/users/{{user.id}}?_method=' method='POST'>
    
</form>


<a href='/users'/{{user.id}}>Back to list</a>
<a href='/users/{{user.id}}/edit'>Edit</a>